.bg-img-1 {
  background-image: url('../../../assets/imgs/1.jpeg');
}

.bg-img-2 {
  background-image: url('../../../assets/imgs/2.jpg');
}

.bg-img-3 {
  background-image: url('../../../assets/imgs/3.jpg');
}

.my-carousel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}