<footer class="mt-5 pt-5 pb-2 ps-5 pe-5 tripalg-bg-2">
  <div class="d-flex justify-content-around">
    <div>
      <h4>Redes Sociais</h4>
      <ul class="list-unstyled">
        <li><strong>Facebook: </strong>@trip-alg</li>
        <li><strong>Instagram: </strong>@trip-alg</li>
        <li><strong>Linkdin: </strong>@trip-alg</li>
      </ul>
    </div>
    <div>
      <h4>Contactos</h4>
      <ul class="list-unstyled">
        <li><strong>Telemovel: </strong>+351 123456789</li>
        <li><strong>Email:</strong> email@trip-alg.com</li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </div>
</footer>