<main>

  <h2 class="text-center">Procura a sua casa de sonho!</h2>
  <div class="mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn custom-btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="mt-4">
      <div class="row">
        <div class="col-sm-4">
          <!-- Dropdown 1: Zona -->
          <label for="zonaSelect" class="form-label">Zona</label>
          <select class="form-select" id="zonaSelect">
            <option selected disabled>Select Zona</option>
            <option value="monta-rota">Monta Rota</option>
            <option value="altura">Altura</option>
          </select>
        </div>
        <div class="col-sm-4">
          <!-- Dropdown 2: Tipo -->
          <label for="tipoSelect" class="form-label">Tipo</label>
          <select class="form-select" id="tipoSelect">
            <option selected disabled>Select Tipo</option>
            <option value="moradia">Moradia</option>
            <option value="apartamento">Apartamento</option>
          </select>
        </div>
        <div class="col-sm-4">
          <!-- Dropdown 3: Tipologia -->
          <label for="tipologiaSelect" class="form-label">Tipologia</label>
          <select class="form-select" id="tipologiaSelect">
            <option selected disabled>Select Tipologia</option>
            <option value="t1">T1</option>
            <option value="t2">T2</option>
            <option value="t3">T3</option>
            <option value="t4">T4</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <section class="mt-5">
    <h2 class="text-center">Resultados</h2>
    <div class="mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <h5 class="card-title">Monta Rota, Moradia T2</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <h5 class="card-title">Monta Rota, Moradia T2</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <h5 class="card-title">Monta Rota, Moradia T2</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>