<main>

  <section>
    <h2 class="mb-5 text-center">Sobre Nós</h2>
    <p>Criada em 2020 no decorrer da pandemia COVID-19, a TripAlg, nasceu com o objectivo de profissionalizar e
      automatizar a área dos arrendamentos sazonais, temos como foco a satisfação dos nossos clientes através de uma
      máxima rentabilização dos seus imóveis fornecendo serviços e apoio a todo o processo envolvente.</p>
    <p>Atualmente contamos com 46 casas em portefólio e atuamos nos concelhos de Vila Real de Santo António, Castro
      Marim e Tavira.</p>
  </section>

  <section>
    <h2 class="mt-5 mb-5 text-center">Objetivo</h2>
    <p>O nosso principal foco consiste em trazer ao mercado de arrendamentos uma regulamentação e metodologia nos
      serviços prestados de gerenciamento de propriedades, oferecendo segurança e simplicidade em toda essa área.</p>
  </section>

</main>