<main>
  <h2 class="text-center">Sobre Nós</h2>
  <div class="mt-5">
    <p>Criada em 2020 no decorrer da pandemia COVID-19, a TripAlg, nasceu com o objectivo de profissionalizar e
      automatizar a área dos arrendamentos sazonais, temos como foco a satisfação dos nossos clientes através de uma
      máxima rentabilização dos seus imóveis fornecendo serviços e apoio a todo o processo envolvente.</p>
    <p>Atualmente contamos com 46 casas em portefólio e atuamos nos concelhos de Vila Real de Santo António, Castro
      Marim e Tavira.</p>
  </div>
</main>