<main>
  <h2 class="mb-5 text-center">Serviços</h2>
  <p>Após anos de experiência e a pensar nas melhores soluções para si apresentamos a nossa proposta comercial, uma
    proposta simples, eficiente e com serviços personalizados conforme as suas necessidades.</p>

  <h2 class="mt-5 mb-5 text-center">Planos</h2>

  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Itens</th>
          <th>Plano Suppoert</th>
          <th>Plano Basic</th>
          <th>Plano Plus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Assistência (Check-in e Check-out)</th>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
        </tr>
        <tr>
          <th>Apoio a Manutenção (Reparos)</th>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
        </tr>
        <tr>
          <th>Reservas (Controlo, Gestão e Apoio)</th>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
        </tr>
        <tr>
          <th>Limpezas (Coordenação e Zelo)</th>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
          <td><i class="bi bi-check2-circle text-success h2"></i></td>
        </tr>
        <tr>
          <th>Despesas (Água, Luz, Gás e Net)</th>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
          <td><i class="bi bi-x-circle text-danger h3"></i></td>
        </tr>
        <tr>
          <th>A quem obriga a criação de AL</th>
          <td>-</td>
          <td>Proprietário</td>
          <td>Proprietário</td>
        </tr>
      </tbody>
    </table>
  </div>

</main>