<app-carousel></app-carousel>

<section class="mt-5">
  <h2 class="text-center">Favoritos dos clientes</h2>
  <div class="mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let property of data; let index = index" class="col">
        <div class="card">
          <img [src]="property.imgs[0]" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">{{property.title}}</h5>
            <p class="card-text">{{property.shortDescription}}</p>
            <app-reservation-modal [index]="index" [title]="property.title"
              [longDescription]="property.longDescription"
              [commodities]="property.commodities" [allImgs]="property.imgs"></app-reservation-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="mt-5">
  <h2 class="text-center">Missão e Valores</h2>
  <div class="mt-5 row justify-content-center">
    <div class="img-container col-md-4 text-center">
      <img src="./assets/home/values_and_mission.png" class="img-fluid image"
        alt="...">
    </div>
    <div class="col-md-8">
      <p>A nossa missão e valores consistem em trazer ao mercado de arrendamentos uma regulamentação e metodologia nos serviços prestados de gestão de propriedades, oferecendo segurança e simplicidade em toda essa área.</p>
    </div>
  </div>
</section> -->