<app-carousel></app-carousel>

<section class="mt-5">
  <h2 class="text-center">Favoritos dos clientes</h2>
  <div class="mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Monta Rota, Moradia T2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Monta Rota, Moradia T2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Monta Rota, Moradia T2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
              <app-reservation-modal></app-reservation-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <h2 class="text-center">Missão e Valores</h2>
  <div class="mt-5 row">
    <div class="img-container col-md-4">
      <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="rounded img-fluid image"
        alt="...">
    </div>
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti similique tempora quidem dolore facere,
        autem nisi deserunt? Libero dignissimos error velit non dicta! Vel neque, rerum laudantium molestias ipsam ab
        culpa adipisci facilis dignissimos, quisquam similique? Animi voluptate amet minus quos consequatur blanditiis
        qui esse rem sed voluptas porro, laudantium voluptatibus accusantium iste ducimus impedit harum illum. Enim
        minus sunt maiores dolor saepe, modi maxime quibusdam delectus explicabo repudiandae suscipit eum nemo, deserunt
        corporis doloribus laboriosam magni voluptatem illo molestias veritatis vero optio fugiat iure nisi. Aperiam
        voluptatum ducimus veniam, ab eos fugit, odio, laboriosam pariatur recusandae nostrum reprehenderit blanditiis.
      </p>
    </div>
  </div>
</section>