<!-- Button trigger modal -->
<button type="button" class="btn tripalg-bg" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ver Mais
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Monta Rota - Moradia T2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="rounded img-fluid image" alt="Property">
        </div>

        <div class="mt-3 row">
          <div class="col">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="rounded img-fluid image" alt="Property">
          </div>
          <div class="col">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="rounded img-fluid image" alt="Property">
          </div>
          <div class="col">
            <img src="https://www.tagusnovo.com/thumb/full/program/117/117-program-01.jpg" class="rounded img-fluid image" alt="Property">
          </div>
        </div>

        <div class="mt-4">
          <h5>Descrição</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ad veniam delectus cum assumenda alias!
            Maxime, repellat quia? Impedit, harum dolore neque eos eveniet veritatis laboriosam accusantium, laborum in
            aliquid dolor necessitatibus ullam laudantium fuga ducimus dignissimos delectus officiis culpa praesentium
            earum a! Cumque ipsam nam minus deleniti ex earum?</p>
          <p><strong>Contactar +351 123456789 para fazer reserva.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>