<!-- Button trigger modal -->
<button type="button" class="btn tripalg-bg" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + index">
  Ver Mais
</button>

<!-- Modal -->
<div class="modal fade" [id]="'exampleModal' + index" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg">
            <div>
              <img [src]="imgs[selectedImg]"
                class="rounded img-fluid image" alt="Property">
            </div>
            <div class="mt-3 d-flex justify-content-between">
              <button type="button" class="btn btn-light me-2" (click)="decrementSelected()"><i class="bi bi-chevron-compact-left"></i></button>

              <div *ngFor="let img of imgs; let index = index" class="me-2" role="button" (click)="setSelectedImg(index)">
                <img [src]="img" class="rounded img-fluid image" [ngClass]="{'rounded border border-dark border-3': selectedImg === index}" alt="Property">
              </div>

              <button type="button" class="btn btn-light" (click)="incrementSelected()"><i class="bi bi-chevron-compact-right"></i></button>
            </div>
          </div>

          <div class="col-lg">
            <div class="mt-4">
              <div>
                <h5>Descrição</h5>
                <p>{{longDescription}}</p>
              </div>

              <div>
                <h5>Comodidades</h5>
                <ul class="list-inline">
                  <li *ngFor="let commodity of commodities" class="list-inline-item">&bull; {{commodity}}</li>
                </ul>
              </div>

              <h5>Contactar <strong class="text-danger">+351 123456789</strong> para reser.</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>